.navbar-default {
  background: white;
}

.new-song {
  padding: 20px;
}

.new-playlist {
  padding: 20px;
}

.panel-primary {
  border-color: #CB9000;
}

.panel-heading {
  background: #00257F !important;
  color: white !important;
  border-color: #CB9000;
  font-family: 'Helvetica Neue', 'Lucida Grande', 'Arial';
  font-size: 14px;
}

.list-group-item {
  border: 1px solid #CB9000;
}

.btn-primary {
  background: #144ACB;
}

.btn-primary:hover {
  background: #00257F;
}

.btn-circle {
  background: #144ACB;
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin-right: 10px;
  border-radius: 50%;
  font-size: 20px;
}

.btn-circle:hover {
  background: #00257F;
  color: white;
  width: 40px;
  height: 40px;
  line-height: inherit;
  padding: 0;
  margin-right: 10px;
  border-radius: 50%;
}

.fa-play {
  padding-left: 5px;
}

.btn-transparent {
  opacity: 0.0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin-right: 10px;
  cursor: auto;
}

.artist-song {
  color: #777;
  font-family: 'Helvetica Neue', 'Lucida Grande', 'Arial';
}

.playlist {
  font-family: 'Helvetica Neue', 'Lucida Grande', 'Arial';
}

.btn-blocks {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 60px;
  height: 60px;
  font-size: 30px;
}

.btn-blocks:hover {
  background: #00257F;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 60px;
  height: 60px;
  font-size: 30px;
}

.duration {
  margin-right: 10px;
  color: #777;
}

.current-time {
  padding-left: 8px;
  color: #777;
}

.song-name {
  padding-left: 20px;
  color: #777;
}

.circle {
  position: absolute;
}

body { 
  padding-bottom: 70px;
}
